<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ec.springframework.tutoring.mapper.TuteeMapper">

    <insert id="signUp">
        INSERT INTO tutee(email, passwd, name, gender_type, age, phone_num, intro, school_idx)
                VALUES (#{signUpReq.email}, #{signUpReq.passwd}, #{signUpReq.name}, #{signUpReq.genderType}, #{signUpReq.age}
                    , #{signUpReq.phoneNum}, #{signUpReq.intro}, #{signUpReq.schoolIdx});
    </insert>

    <select id="checkDuplicateEmail" resultType="java.lang.Integer">
        SELECT EXISTS(SELECT 1 FROM tutee WHERE email LIKE #{email});
    </select>

    <select id="getSchoolList" resultType="ec.springframework.tutoring.model.School">
        SELECT * FROM school WHERE type > 1;
    </select>

    <select id="signIn" resultType="ec.springframework.tutoring.model.Tutee">
        SELECT t.*, s.name AS school
        FROM tutee t INNER JOIN school s ON t.school_idx = s.idx
        WHERE email LIKE #{signInReq.email} AND passwd LIKE #{signInReq.passwd};
    </select>

    <select id="getInfo" resultType="ec.springframework.tutoring.model.Tutee">
        SELECT t.*, s.name AS school
        FROM tutee t INNER JOIN school s ON t.school_idx = s.idx
        WHERE t.idx = #{tuteeIdx};
    </select>

    <select id="getTutorList" resultType="ec.springframework.tutoring.model.Tutor">
        SELECT * FROM tutor;
    </select>

    <select id="getMyTutorList" resultType="ec.springframework.tutoring.model.Tutor">
        SELECT t.*, s.name FROM matching m
            INNER JOIN tutor tt ON m.tutor_idx = tt.idx
            INNER JOIN tutee t ON m.tutee_idx = t.idx
            INNER JOIN school s ON tt.school_idx = s.idx WHERE m.tutee_idx = #{tuteeIdx};
    </select>

    <select id="getTutorInfo" resultType="ec.springframework.tutoring.model.Tutor">
        SELECT t.*, s.name AS school
        FROM tutor t INNER JOIN school s ON t.school_idx = s.idx
        WHERE t.idx = #{tutorIdx};
    </select>

    <select id="getRandomMatchedTutor" resultType="ec.springframework.tutoring.model.Tutor">
        SELECT t.*, s.name AS school
        FROM tutor t INNER JOIN school s ON t.school_idx = s.idx
        ORDER BY RAND()
        LIMIT 0,1;
    </select>

    <select id="isApplying" resultType="java.lang.Integer">
        SELECT EXISTS(SELECT 1 FROM apply WHERE status = 0 AND tutee_idx = #{matchingApply.tuteeIdx} AND tutor_idx = #{matchingApply.tutorIdx});
    </select>

    <insert id="apply">
        INSERT INTO apply(tutee_idx, tutor_idx, apply_time, type, status)
        VALUES(#{matchingApply.tuteeIdx}, #{matchingApply.tutorIdx}, NOW(), 1, 0);
    </insert>

    <update id="permit">
        UPDATE apply SET status = 1 WHERE idx = #{applyIdx} AND status = 0 AND type = 2;
    </update>

    <insert id="match">
        INSERT INTO matching(tutor_idx, tutee_idx, matching_time)
            SELECT tutor_idx, tutee_idx, now() FROM apply WHERE idx = #{applyIdx} AND status = 1 AND type = 2;
    </insert>

    <update id="refuse">
        UPDATE apply SET status = -1 WHERE idx = #{applyIdx} AND status = 0 AND type = 2;
    </update>
</mapper>